<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>drag upload demo</title>
    <link rel="stylesheet" href="{{ 'style.css'|static }}">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="panel panel-default uploadarea">
            <div class="panel-heading">
                <h2>drag upload demo</h2>
            </div>
            <div class="panel-body">
                <div id="upload">
                    <p>please drag imgage file in the area</p>
                </div>
            </div>
            <div class="panel-footer">
                <div class="preview" style="display: none;">
                    <p>filsname:<span id="filename"></span></p>
                    <p>filesize:<span id="filesize"></span></p>
                    <p>lastModify:<span id="filemodify"></span></p>
                </div>
                <button type="submit" class="btn btn-default" id="btn-upload">upload</button>
            </div>
        </div>
    </div>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ 'custom.js'|static }}"></script>
</body>

</html>