<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>upload demo</title>
    <link rel="stylesheet" href="{{ 'style.css'|static }}">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="panel panel-default uploadarea">
            <div class="panel-heading">
                <h2>upload demo</h2>
            </div>
            <div class="panel-body">
                <form action="/upload" enctype="multipart/form-data" method="post">
                    <label for="img">选择图片文件</label><input id="img" type="file" name="img">
                    <br>
                    <button type="submit" class="btn btn-default" id="btn-upload">upload</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>