<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>view upload image</title>
    <link rel="stylesheet" href="{{ 'style.css'|static }}">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="panel panel-default uploadarea">
            <div class="panel-heading">
                <h2>view upload image</h2>
            </div>
            <div class="panel-body">
                <img src="{{ 'img/upload.jpg'|static }}" alt="">
            </div>
        </div>
    </div>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</body>

</html>