{% extends 'layout.html' %} 
{% block title %}Flask-node demo{% endblock %}

{% block main %}
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Flask-node</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">图片预览 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/upload">上传页面</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">登录页面</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container wrap">
    <div class="row">
       <div class="col-md-6 first">
            <p>请将文件拖入其中虚线框中</p>
            <div id="upload-area">
                <div class="preview" style="display: none;">
                    <p>文件名:<span id="filename"></span></p>
                    <p>文件大小:<span id="filesize"></span></p>
                </div>
            </div>
            <button class="btn btn-primary disabled" id="btn-upload">上传</button>
       </div>
       <div class="col-md-6">
           <p>代码:</p>
           <pre>
               <code class="typescript">
const uploadHandle = (req: Request, res: Response) => {
    if (isLogin === false) {
        res.redirect('/login');
    } else {
        if (req.method === 'get') {
            res.render('upload-main.html');
        } else {
            let file = req.files('uploadFile');
            let ws = createWriteStream(join(rootPath, 'static/upload', 'upload.jpg'));

            createReadStream(file.path).pipe(ws).on('close', () => {
                res.end({
                    entiry: JSON.stringify({
                        data: { code: 200, filename: 'upload.jpg' }
                    }),
                    status: 200,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }, 200);
            });
        }
    }
};

router.add('/upload', ['get', 'post'], uploadHandle);
               </code>
            </pre>
       </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $(document).on({
            dragleave: function (e) {
                e.preventDefault();
            },
            drop: function (e) {
                e.preventDefault();
            },
            dragenter: function (e) {
                e.preventDefault();
            },
            dragover: function (e) {
                e.preventDefault();
            }
        });

        var uploadArea = document.getElementById("upload-area");
        uploadArea.addEventListener("dragenter", function (e) {
            var types = e.dataTransfer.types;
            if (!types ||
                (types.contains && types.contains("Files")) ||
                (types.indexOf && types.indexOf("Files") != -1)) {
                $(uploadArea).addClass("active");
                e.preventDefault();
            }
        })

        uploadArea.addEventListener("dragleave", function (e) {
            $(uploadArea).removeClass("active");
        })

        uploadArea.addEventListener("dragover", function (e) {
            e.preventDefault();
        })

        uploadArea.addEventListener("drop", function (e) {
            e.preventDefault();
            var fileList = e.dataTransfer.files;

            $(".preview").show();
            $("#filename").text(fileList[0].name);
            $("#filesize").text((fileList[0].size / 1024).toFixed(2) + "kb");

            $("#btn-upload").on("click", function () {
                var req = new XMLHttpRequest();
                req.open("post", "./upload");
                req.setRequestHeader("X-Requested-With", "XMLHttpRequest");

                var fd = new FormData();
                fd.append("uploadFile", fileList[0]);

                req.onload = function(e) {
                    var data = JSON.parse(this.responseText).data;
                    if (data.code === 200) {
                        window.location.href = '/?filename=' + data.filename;
                    }
                };
  
                req.send(fd);
            }).removeClass('disabled');
        });
    });
</script>
{% endblock %}